{% extends 'main.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/post.css') }}">
{% endblock styles %}

{% block main %}

<div class="post_box">
    <div class="post_content">

        <h1 class="title_post"> {{ post.title }} </h1>
        <p class="body_post"> {{ post.body }} </p>

    </div>
    <ul class="tag_list">
        {% for tag in post.tags %}
        <li><a href="{{ url_for( 'posts.posts_by_tag', slug=tag.slug) }}" class="tag_link"><span>{{ tag.name }}</span></a> </li>
        {% endfor %}
    </ul>
</div>

{% endblock main %}