.message_post {
    margin: 10px 0;

    font-weight: bold;
    font-size: 50px;

    background-color: #0f4c81;
    color: #ffa372;
}

.posts_list {
    list-style: none;
}


/* post details */

.post_box {
    padding: 50px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #0f4c81;
}

.title_post {
    color: #ffa372;
}

.body_post {
    color: #ffa372;
}