
.sign_in_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    height: 280px;

    padding: 10px 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    background-color: #ffa372;
    border-radius: 6px;
}

.fa-sign-in-alt {
    color: #1b262c;
    font-size: 60px;
    font-weight: bold;
}

.sign_in_form input {
    height: 40px;
    width: 250px;

    margin: 5px;
    padding: 4px;

    background: #1b262c;

    border: 5px solid #0f4c81;
    border-radius: 5px;

    color: #ffa372;
    font-size: 34px;
    font-weight: bold;
}

.sign_in_btn {
    margin-top: 5px;

    height: 40px;
    width: 80px;

    background-color: #0f4c81;
    border: none;

    color: #ffa372;
    font-size: 34px;
    font-weight: bold;

    border-radius: 5px;
}